@import url(./vendor/normalize.css);
body {
  /* if the font file doesn't load, the browser will use either Arial or Helvetica. As a last resort, it will use whatever sans-serif font it can find on the user's device. */
  font-family: "Arial", "Helvetica", sans-serif;
}
.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter";
  font-size: 16px;
  line-height: 20px;
}
.header {
  background-color: #ffffff;
  background-image: url(../se_project_coffeeshop/Images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  height: 100vh;
  max-height: 800px;
  min-height: 720px;
}
.logo {
  width: 125px;
  height: 142px;
  margin-top: 30px;
  margin-left: 30px;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__link {
  display: flex;
  list-style: none;
  column-gap: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  padding: 0;
  transition: color 1s linear 0.5s;
}
.nav__link:hover {
  color: #2f80ed;
}
.header__title {
  margin-top: 80px;
  margin-left: 80px;
  font-family: Noto Serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}
.header__title-span-accent {
  max-width: 729px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}
.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}
.header__description {
  max-width: 683px;
  margin-left: 80px;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.header__footer {
  margin-left: 80px;
  margin-bottom: 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  position: absolute;
  bottom: 40px;
  justify-content: space-between;
  align-content: center;
  align-items: flex-end;
  flex-direction: row;
  width: 100%;
}
.header__footer_p {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0px;
}
.header__addy {
  margin-right: 80px;
  padding-right: 80px;
}
.menu {
  background-color: #0a2750;
  background-image: url(../se_project_coffeeshop/Images/background_menu.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.menu__title {
  max-width: 780px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: auto;
  text-align: center;
  color: #ffffff;
  padding-top: 100px;
}
.menu__subtitle {
  max-width: 780px;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: auto;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 100px;
  color: #ffffff;
}
.cards {
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 100px;
}
.card {
  max-width: 600px;
  width: 50%;
}
.tweak {
  margin: auto;
  margin-top: 100px;
}
.card__title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  color: #ffffff;
}
.card__list {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  padding-left: 0;
}

.card__list-item {
  display: flex;
  align-content: flex-start;
  align-items: flex-end;
  margin: 16px;
  color: #ffffff;
}

.card__list-divider {
  flex-grow: 1;
  background-color: white;
  height: 1px;
  min-width: 3px;
}
.recipes {
  background-color: #ffffff;
  background-image: url(./Images/background_recipes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 800px;
  min-height: 720px;
}
.rep__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-left: 80px;
  max-width: 580px;
  margin-top: 100px;
}
.rep__subtitle {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin-left: 80px;
  margin-top: 24px;
}
.recipes__videos {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  column-gap: 40px;
  list-style: none;
  padding: 0;
}
.recipes__videos-caption {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.reservation {
  background-color: #d9e7ff;
  background-image: url(./Images/background_reservation.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.reservation__titile {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 80px;
}
.reservation__form {
  height: 628px;
  max-width: 385px;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 80px;
}
.form {
  padding-bottom: 120px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}
.form__input {
  border-radius: 4px;
  height: 60px;
  margin-bottom: 32px;
  margin-top: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  display: block;
}
.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
}
.form__button {
  height: 60px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  opacity: 100%;
  transition: opacity 1s ease-in-out;
  padding: 0;
  background-color: #2f80ed;
}
.form__button:hover {
  opacity: 70%;
}

.form__input_checkbox {
  margin-right: 12px;
  height: 20px;
  width: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
.form__label_inline {
  display: flex;
  flex-direction: row;
}
.form__fieldset_words {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.about {
  background-color: #0a2750;
  padding: 100px 80px 173px 80px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.about__title {
  max-width: 251px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  z-index: 2;
  color: #ffffff;
}
.about__content {
  max-width: 660px;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding-top: 9px;
  color: #ffffff;
}
.about__circle {
  position: absolute;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  background-color: #2f80ed;
  top: -152px;
  left: -129px;
  z-index: 1;
}
.about__circle_animation_blurred {
  animation: pulse 1.3s ease-in-out 0s infinite;
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}
.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 100px;
  padding-bottom: 60px;
}
.footer__contents {
  outline: salmon;
  display: flex;
  justify-content: space-between;
}
.practicum__logo {
  width: 116px;
  height: 21px;
}
.footer__social-heading {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 0;
}
.footer__list {
  padding: 0;
}
.footer__list_items {
  list-style: none;
  margin-top: 16px;
}
.footer__list:first-of-type {
  margin-top: 20px;
}
.footer__list_item {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.footer__social-link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.footer__copyright {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 108px;
}
